.Ultimate {
  color: #fff;
  font-weight: 500;
  margin-bottom: 14px;
}
.online {
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 21px;
  color: #fff;
}
.variety {
  color: #fff;
  font-size: 14px;
  line-height: 21px;
}
.Purchase {
  color: #fff;
  font-weight: 500;
  margin-bottom: 14px;
  margin-top: 40px;
}
